<?xml version="1.0"?>
<launch>
    <arg name="frame_id" default="base_scan"/>
    <arg name="cloud_topic" default="/cloud"/>
    <node pkg="scan_to_pcl_ros" type="scan_to_pcl_node" name="scan_to_pcl" output="screen">
        <param name="frame_id" value="$(arg frame_id)"/>
        <remap from="/cloud" to="$(arg cloud_topic)"/>
    </node>
</launch>
